body{
    background: rgb(25, 114, 177);
}

img{
    height: 500px;
    border-radius: 20px;
}
p{
    color: rgb(202, 73, 18);
    font-size: 30px;
    border: 5px solid wheat;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    padding: 100px;
    margin: 50px;
}p

    span{
    font-weight: bold;
}

.wiki_image{
    height: 100px;
}